__pycache__/
*.pyc
tmp_*/

audio/in/*
!audio/in/.gitkeep

audio/out/*
!audio/out/.gitkeep

video/out/*
!video/out/.gitkeep

/in/
/out/
youtube_token.json
youtube_client_secret.json
youtube_links.txt
app_settings.json
.usage_memory.json
